body {
  font-size: 17px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background: #eee;
}
.contenedor {
  width: 95%;
  margin: 0 auto;
  max-width: 980px;
  position: relative;
}
section, footer {
  max-width: 1200px;
  margin: 0 auto;
}
